body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.food-card{
    width: 360px;
    border-radius: 12px;
    border: 2px solid grey;
    padding: 10px;
}
.food-img{
    border-radius: 12px;
    width: 100%;
    height:400px;
    object-fit: cover;
}
.two-buttons{
    display: flex;

 
}
.button{
    margin:15px;
    border-radius: 30px;
    padding:5px;
   
 
  
   

}
.food-flex{
    margin:50px;
}
.des{
    margin-top: -20px;
}
.name{
    margin-left:10px;
    margin-top:-10px;
}
.profile{
    /* background-color: rgb(206, 47, 47); */
    width:100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 260px;
   margin-bottom:-10px;
   justify-content: center;
    /* background-color: rgb(201, 186, 189); */
 }
 .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.container2{
    margin-top:40px;
}
h1{
    margin-top:-5px;
}
.btn{
    border: none;
    background-color:purple;
    font-weight: bolder;
    color: white;
    padding: 13px 32px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
   align-items: center;
 

}
.button-1{
    margin:10px 70px auto;
    
}
.button-2{
    margin:58px  70px auto;
}
.button-3{
    margin:35px 70px auto;
}
.button-4{
    margin:55px 70px auto;
}
.food-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.add{
    display:none;
}
@media(max-width:576px){
    .food-flex{
        flex-wrap: wrap-reverse;
    }
    .food-card{
        margin: 10px 0px;
    }
    .add{
        display:block;
    }
    .order{
        display: none;
    }
}